{% load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kernel | Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/."><img src="{% static 'imgs/logo.png' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-md-4 offset-md-4">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/chat/">Чат</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link " href="#">Возможности</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link " href="#">Цены</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link " href="https://t.me/BuisnessAIChatBot">Телеграм Бот</a>
                    </li>
                </ul>
                <a href="/./login/" class="col-md-2 offset-md-2">
                    <button class="btn btn-outline-success">Личный кабинет</button>
                </a>
                </div>
            </div>
        </nav>
    </section>

    <p class="h1 text-center" style="padding-top: 15px;">Регистрация</p>
    <div class="card" style="width: 50%; justify-self: center;">
        <form class="row g-3", style="padding: 20px 10px 10px 10px;">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="validationDefault02" name="2Name" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">Имя</label>
                <input type="text" class="form-control" id="validationDefault01" name="Name" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="validationDefault02" name="LastName" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefaultUsername" class="form-label">Название организации</label>
                <input type="text" class="form-control" id="validationDefaultUsername" name="Organization" aria-describedby="inputGroupPrepend2" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Город</label>
                <input type="text" class="form-control" id="validationDefault03" name="City" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Электронная почта</label>
                <input type="email" class="form-control" id="validationDefault01" name="Email" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault05" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="validationDefault05" name="Password" required>
            </div>
            <div class="col-12", style="justify-self: center;">
                <button class="btn btn-primary" type="submit">Зарегистрировать организацию</button>
            </div>
            </form>
    </div>

    {{ form }}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>